body {
    /*    background: #e9e9e9 !important;*/
    /*background: #e1e5ec !important;*/
}



.theme-color{background:#ff966a !important;
    background-color:#ff966a !important;
}

.theme-color2{background:#38475c !important;
    background-color:#38475c !important;}
.theme-color-dark{background:#38475c !important;
    background-color:#38475c !important;}
.theme-color-yellow{background: #ffbb00 !important;
    background-color: #ffbb00 !important;}
.theme-color-orange{
    background:#ff966a !important;
    background-color:#ff966a !important;
}

.theme-color-font{color:#2f353b !important;}
.color-primary{background:#4285f4 !important;}
.font-primary{color:#4285f4 !important;}
.header-top{background:#ff966a !important;}
.header{background:#ff966a;}

nav.navbar.header.navbar-fixed-top{border-top:0 !important; }
.header .menu {background:#38475c;}
.menu > ul > li > ul > li a {color:#3e3947;}

.header-sign-icon {background:#38475c;}
.search-btn-color {background: #38475c !important;}
.theme-btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff !important;
    background: #38475c !important;
    font-family: 'Open Sans';
}
.btn-primary{text-transform:uppercase !important;
    font-size: 14px;
    background: #38475c !important;}
.btn-primary:hover{background:#38475c !important;}

.theme-btn:hover, .btn-primary:hover{box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26) !important;}

.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26) !important;
}
.btn-add-new, .btn.btn-success{background:linear-gradient(#34a853, #177931) !important;}

.btn-add-new:hover, .btn.btn-success:hover{background:linear-gradient(#34a853, #177931) !important;}
.btn-add-new{background:#38475c!important;}
.btn-add-new:hover{background:#38475c !important;}
.btn-danger {background:#e43a45 !important;
    background-color:#e43a45 !important;}
.btn-danger:hover{background:#cf1c28 !important;}

.btn.btn-warning, .btn-back{background:#e87e04!important;
    border:0;
    box-shadow: none !important;
}
.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning:focus,
.btn-back:hover, .btn-back:active, .btn-back:focus{background:#da7604 !important;}

.btn-back:hover {box-shadow:0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26) !important;}

.btn:hover{box-shadow:0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26) !important;}

.btn.btn-info{background:#38475c;}

.btn.btn-info:hover, .btn.btn-info:focus,
.btn.btn-info:active, .btn.btn-info:active:hover,
.btn.btn-info:active:focus{background:#395f9d;
    background-color:#395f9d;
}
.pagination>li>a:hover, .pagination.pagination-info > .active > a {color: #38475c !important;}
.flt-nav a:hover, .flt-nav-wrap a:hover {
    background:#38475c !important;
    color: #ffffff !important;
    border:0 !important;
}
.flt-nav a.active, .flt-nav-wrap a.active {
    background:#38475c !important;
    color: #ffffff !important;
    border:0 !important;
}
.flt-nav a, .flt-nav-wrap a {
    border:0 !important;
    color:#2f353b !important;
    background:#e1e5ec !important;
}
.menu > ul > li > ul > li{background: #fff !important;}
.menu > ul > li > ul > li > ul > li { font-size: 0.9em !important;}
.menu > ul > li > ul > li > ul > li:last-child { border-bottom:0 !important;}
.menu > ul > li > ul > li > ul > li a:hover{color:#38475c;}
.menu > ul > li > ul.normal-sub{background: #fff !important;
    padding:0 10px;
}
/*.menu > ul > li > ul.normal-sub > li{font-size: 0.9em !important;
                                     border-bottom:1px solid #38475c !important;}
.menu > ul > li > ul.normal-sub > li a{padding:7px 0 !important;
                                       width: 95%;}
.menu > ul > li > ul.normal-sub > li:hover {border-bottom:1px solid #ff966a !important;}*/
.menu > ul > li > ul.normal-sub > li:hover a{color:#ff966a !important}
.header.header-top-scroll .menu > ul > li > ul.normal-sub > li,
.header.header-top-scroll .menu > ul > li > ul.normal-sub > li a{color:#45575e !important}
.menu > ul > li > ul.normal-sub > li:last-child{border-bottom:0 !important;}

.timeline-content p {color:#2f353b !important;}
.timeline-content2 p {color:#2f353b !important;}

.timeline-content { background: #e1e5ec !important;}

.hof-ng {background: #38475c !important;}

.timeline-content .class1{background: linear-gradient(#38475c 0%, #10a099 100%) !important;}

.timeline-content .class2{    background: linear-gradient(#38475c 0%, #10a099 100%) !important;}

.flag-card{border:1px solid #e1e5ec !important;}
.pns-blog-flag{background:#e1e5ec !important;}

.awd-by-country-m-cat {background:#e87e04 !important;}
.awd-by-spo-m-cat{background:#9B59B6!important;}

h3.aw-list {color: #2f353b !important;}

.awd h4 {color:#38475c !important;}

.accordion-bg-green .headings {background:#29b4b6 !important;}
.accordion-bg-green a h4{color:#fff !important;}
.accordion-bg-green .block { border: 1px solid #1bbc9b !important;}

.accordion-bg-red .headings {background:#e35b5a !important;}
.accordion-bg-red a h4{color:#fff !important;}
.accordion-bg-red .block {border: 1px solid #e35b5a !important;}

.accordion-bg-blue .headings {background:#38475c !important;}
.accordion-bg-blue a h4{color:#fff !important;;}
.accordion-bg-blue .block {border: 1px solid #38475c !important;}

.accordion-bg-yellow .headings {background:#F4D03F !important;}
.accordion-bg-yellow a h4{color:#fff !important;}
.accordion-bg-yellow .block { border: 1px solid #F4D03F !important;}

.accordion-bg-orange .headings {background:#F36A5A !important;}
.accordion-bg-orange a h4{color:#fff !important;}
.accordion-bg-orange .block {border: 1px solid #F36A5A !important;}

.accordion-bg-sky-blue .headings {background:#9B59B6!important;}
.accordion-bg-sky-blue a h4{color:#fff !important;}
.accordion-bg-sky-blue .block {border: 1px solid #9B59B6!important;}

.accordion-bg-gray .headings {background:#ddd!important;}
.accordion-bg-gray a h4{color:#38475c !important;
    font-weight:600 !important;}
.accordion-bg-gray .block {border:1px solid #ddd!important;}


.used-text {color:#38475c;}
.use-sport ul li{border:1px solid #ffbb00 !important;}
.used-img { background:#ffbb00 !important;}
.used-img:before{border-left-color:#ffbb00;}

.color7{background:#1bbc9b !important;}
.color8{background:#e35b5a !important;}
.color9{background:#E87E04 !important;}
.color10{background:#38475c !important;}
.color11{background:#29b4b6 !important;}
.color12{background:#F36A5A !important;}
.color13{background:#9B59B6!important;}
.color14{background:#32C5D2 !important;}
.color15{background:#F4D03F !important;}
.color16{background:#e87e04 !important;}

.pp-nav{background:#ddd !important;}

.pp-nav ul li a{color: #2f353b !important;
    font-weight: 600 !important;}

ul.dropdown-menu.dropdown-with-icons.follow-dd {left: -126px;}

.navbar.navbar-primary .dropdown-menu li > a:hover,
.navbar.navbar-primary .dropdown-menu li > a:focus {
    color: #FFFFFF;
    background-color: #38475c !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .26) !important;
}

nav.navbar.header{box-shadow:0 2px 5px 0 rgba(0,0,0,0.6) !important;}

.header-top-nav ul li a ul.dropdown-menu:hover{background: #38475c !important;}
.header-top-nav ul li a:focus{background:transparent !important;}

.alert-success, .alert-info, .alert-danger, .alert-warning {font-weight:600;}
.label-primary {background-color: #337ab7 !important;}
.label-info {background-color: #659be0 !important;}
.label-success {background-color:#4caf50 !important;}
.label-danger {background-color: #ed6b75 !important;}
.label-warning {background-color: #F1C40F !important;}

.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus, .navbar.navbar-default .dropdown-menu li > a:hover, .navbar.navbar-default .dropdown-menu li > a:focus{
    background-color: transparent !important;
    color: #ff966a !important;
    box-shadow: none;
}
.navbar .dropdown-menu li > a:hover .badge, .navbar .dropdown-menu li > a:focus .badge{background:#38475c !important;}
.weekly-blog h4{color:#38475c !important;}
.title, .title a, .card-title, .card-title a, .info-title, .info-title a, .footer-brand, .footer-brand a, .footer-big h5, .footer-big h5 a, .footer-big h4, .footer-big h4 a, .media .media-heading, .media .media-heading a{color:#2f353b !important;}

.awd h3 {color:#38475c !important;}
.kn-heading h4{color:#fff !important;}
.my-sport-db{border:2px solid #E1E5EC !important;
    box-shadow:none;}

.my-sprot-top-blog {border-bottom: 2px solid #E1E5EC !important;}
.my-sport-db-img {background: #E1E5EC !important;}
.my-sport-db-img:before{border-left: 9px solid #E1E5EC !important;}
.detail-blog-img{background:#38475c!important;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.3) !important;}
.vh-map a {background: #f3c200 !important;}
.side-content-blog h2 {background: #F4D03F !important;}
.side-content-blog ul{border: 2px solid #F4D03F !important;}
.footer-menu-blog ul li a{color:#fff !important;}
.sidebar-wiki .media .media-body h5 a {color: #38475c !important;}
.sidebar-view-all h4 a {color: #38475c !important;}
.w-blog-heading{border-color:#ff966a !important;}
.w-blog-heading h3{
    color:#ffffff !important;
    background:#ff966a !important;
}
.vnct-img-blog { background: #38475c !important;}
.vnct-blog { border: 1px solid  #38475c !important;}
.cd-table-second {background: #38475c !important;}
.major-btn{background: #ed6b75 !important;
    color: #2f353b;}
.minor-btn{background: #f9e491 !important;
    color: #2f353b;}
.pp-athlete-image img{border:1px solid #dddddd !important;}
.ribbon-front {background: #e1e5ec !important;}
.ribbon-front a h4{color:#2f353b !important;}
.ribbon-edge-topleft {border-color:transparent #e1e5ec !important;}
.ribbon-edge-topright{border-color:transparent #e1e5ec !important;}
.blog-snd-text-big h2 a{color:#2f353b !important;}
.view-tag {color:#2f353b !important;}
.blog-cat {background:#38475c !important;}
.searchform button {background: #38475c !important;}
.searchform input:focus {box-shadow: 0 0 4px #38475c inset !important;
    -moz-box-shadow: 0 0 4px #38475c inset !important;
    -webkit-box-shadow: 0 0 4px #38475c inset !important;
}
.rpl-btn {color: #4285f4 !important;}
.view-date a {color: #2f353b !important;}
.media a:hover {color: #38475c !important;}
.blog-cate-sidbar h5:last-child{border:0 !important;}
.blog-cate-sidbar h5:hover, .blog-cate-sidbar h5:focus, .blog-cate-sidbar h5:active{color: #38475c !important;
    border-bottom: 1px solid #38475c !important;
}
.blog-detail-article h3{color:#38475c !important;}
.view-date a:hover{ color:#38475c !important;}
.little-tab-menu2 .circle { background-color: #fbbc05 !important;
    background: #fbbc05 !important;
}
.little_c.active a {color: #38475c !important;}
.little_c {background: #38475c !important;}
.little_c.active {background: #fff !important;
    border: 1px solid #38475c !important;}
.little_c.active a:hover {background: #fff !important;
    border: 0 !important;}
.little_c a:hover {color:#38475c !important;}

.form-group .form-control {
    background-image: -webkit-linear-gradient(#38475c, #38475c), -webkit-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: -moz-linear-gradient(#38475c, #38475c), -moz-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: -o-linear-gradient(#38475c, #38475c), -o-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: linear-gradient(#38475c, #38475c), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: none !important;
}
.form-group.has-error .form-control {
    border-color: #f00;
    box-shadow: 0 0 0 1px #f00 inset;
    -webkit-box-shadow: 0 0 0 1px #f00 inset;
    -moz-box-shadow: 0 0 0 1px #f00 inset;
}
.birth-blog-wrap h3 {color:#38475c !important;
    font-weight:600 !important;
    font-size:1.2em;}
.hof-content h3 {color: #38475c !important;
    font-size: 25px !important;
    font-weight: 500 !important;}

.form-header{background:#38475c !important;}
.form-header h4{color:#fff !important;}
.footer-about, .footer-about h4{color:#38475c !important;}

.negotiable-1 {color: #4caf50 !important;}
.negotiable-2 {color: #e35b5a !important;}

.popular-cate h3{color:#38475c !important;}
/*.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {background-color: #38475c !important;}*/

.cover-image button {color:#FFD700 !important;}
.navbar.navbar-primary {background-color: #38475c !important;}
.togglebutton label input[type=checkbox]:checked + .toggle {background-color:#38475c;}
.togglebutton label input[type=checkbox]:checked + .toggle:after {border-color: #38475c;}
.radio input[type=radio]:checked ~ .check {background-color: #38475c;}
.radio input[type=radio]:checked ~ .circle {border-color: #38475c;}

.pr-main .togglebutton label .toggle, .pr-main .togglebutton label input[type=checkbox][disabled] + .toggle{background-color:#E43A45;}
.pr-main .togglebutton label input[type=checkbox] + .toggle:after {border-color:#E43A45;}

.pr-main .togglebutton label input[type=checkbox]:checked + .toggle {background-color:#4caf50;}
.pr-main .togglebutton label input[type=checkbox]:checked + .toggle:after {border-color: #4caf50;}

.msc-khd .event-detail .card-nav-tabs .header{background:#38475c;}
.res-khd-tab .btn{background:#38475c;}
.matiksearch-users-list-box .read-more a{color: #38475c;}
.matiksearch-users-list-content h4 a {color: #38475c !important;}
.bottom-infotext .title-description .sticon{color: #fb0;}
.timeline .panel .panel-heading .panel-title{color:#38475c;}
.timeline .panel .panel-heading i{background: #38475c;
    color: #ffbb00;}
.timeline-icon:before{border-color:#38475c;}
.tml-date-box{background:#38475c;
    color:#fb0;}
.tml-content h2, .tml-text a{color: #38475c;}
.tml-date-box-bottom{background: #fb0;}
.msc-description .panel .headings {background: #38475c!important;}
.msc-description .panel .headings a h4 {color: #ffbb00 !important;}
.event-detail .event-listing-filter .chosen-container-single .chosen-single, .event-detail .event-listing-filter select, .event-detail .event-listing-filter input{
    border:1px solid #38475c;
    /*background:#38475c;*/
}
.event-detail .event-listing-filter input, .event-detail .event-listing-filter input::placeholder{
    font-weight:600;
    color:#38475c !important;}
.event-detail .profile-header .nav-tabs-navigation .nav-tabs li.active:before{border-bottom-color:#ff966a;}
.sf-field-box .radio label{color:#38475c;}
.sf-field-box .radio label .circle{border-color:#38475c;}
.matiksearch-users-list-content h4{color:#38475c !important;}
.pagination>li>a:hover, .pagination.pagination-info > .active > a {color: #38475c !important;}
li.pg-next a, li.pg-prev a, li.pg-next a:hover, li.pg-prev a:hover {color:#fff !important;}
.rl-color, .link-color {color:#4B77BE !important;}
.clear-filters a {color: #38475c !important;}
.matiksearch-users-list-content-top, .matiksearch-users-list-content-bottom{color: #38475c;}
.khd-gll-album .khd-gll-content{background: #ffbb00;}
.khd-gll-album .khd-gll-text, .khd-gll-album .kn-gallery{color: #38475c;}
.khd-gll-album .rightcorner:before{border-top-color:#ffbb00;}
.no-bannertop{background: #38475c;}
.fz-book .fz-apps-detail .fza-top-img a{border-color:#fb0 !important;}
.hofdetail .fz-apps-detail .fz-appheading{background: #38475c;}
.fz-apps-detail .fz-appheading h1,
.fz-apps-detail .fz-appheading h3{color:#fb0 !important;}
.hofdetail .owl-theme .owl-controls .owl-page span {background: #ffbb00;}
.pp-head-design .gb-logo-img{border-color:#fb0;}
.pp-head-design{background: #38475c;}
.governingpp-right{background: #fb0;}
li.pg-next, li.pg-prev {background:#ff966a;}
.flt-nav-leftside .flt-nav {background:#fb0;}
.flt-nav-leftside .flt-nav-wrap a{color:#38475c !important;}
.matiksearch-users-list-img .imgtext{background: rgba(255, 187, 0, 0.75);
    color: #38475c;}
.msc-hwcontent .hw-head{background: #fb0;}
.msc-hwcontent .hw-head .heading-dt-text {color: #38475c;}
.detail-related-box .bb-text{background: #38475c;}
.related-headings{color: #38475c !important;}
.detail-related-box .card a h3 {color:#fb0 !important;}
.equipdetail .panel .panel-heading a{color:#38475c;}
.matik-user-section .arrow_box:before{border-left-color:#ffbb00;}
.muc-box .muc-img span{color:#fb0;}

.wyrlf-heading, .rssb-heading, .wyrlf-search-box .wyrlf-btn .btn:hover{background: #38475c;}
.wyrlf-heading:before, .rssb-heading:before, .wyrlf-search-box .wyrlf-btn .btn:hover:before{border-top-color:#fb0;}
.wyrlf-search-box .wyrlf-btn .btn{background: #fb0;
    color: #38475c;}
.wyrlf-search-box .wyrlf-btn .btn:before{border-top-color:#38475c;}
/*.wyrlf-listing-ds a:hover .wyrlf-img-ds{background:#ff966a !important;}*/

.mulsp-icon a:hover .mulsp-icon-sz.theme-color-yellow{background: #38475c !important;}
.mulsp-icon a:hover .mulsp-icon-sz span{color:#fb0;}
.mulsp-icon a:hover .sport-cat{color:#38475c;}

.all-sport-filter-btn .chosen-container-single .chosen-single, .event-btn .btn:hover, .event-btn .btn:active, .event-btn .btn:focus, .event-btn .event-act {background:#38475c !important;}
.all-sport-filter-btn .chosen-container-single .chosen-single:before, .event-btn .btn:hover:before, .event-btn .btn:active:before,
.event-btn .btn:focus:before, .event-btn .dropdown-toggle:before, .event-btn .dropdown-toggle:hover:before, .event-act:before{border-top-color:#fb0;}
.right-side-secion-blog .quick-links ul li a{background:#fb0;
    color:#38475c;
    border-right-color:#38475c;}
.right-side-secion-blog .quick-links ul li a:hover{background:#38475c;}
.nc-box .counter-icons, .num-counter .count{color:#fff;}
.nc-box .count-name{color:#38475c;}
.num-counter .count{border-right-color:#38475c;}
.view-more-text{color:#38475c;}
.search-thumb{border-color:#fb0;}
.search-thumb-text{color:#fb0;}
.sportscorner-sectionbg .kn-img, .sportscorner-sectionbg .matiksearch-icon-row .view-more-box{background:#fb0 !important;}
.sportscorner-sectionbg .matiksearch-icon-row .view-more-text, .matiksearch-filter-row{background: #38475c;}

.matiksearch-filter-row .matiksearch-filter-left,
.matiksearch-filter-row .matiksearch-filter-right{background:#ffbb00;}
.matiksearch-filter-row .matiksearch-filter-left:before{border-left-color:#ffbb00;}
.matiksearch-filter-row .matiksearch-filter-right:before{border-right-color:#ffbb00;}
.kh-listing-filter .matiksearch-filter-center .flt-nav a{color: #ffbb00 !important;}
.matiksearch-filter-row .matiksearch-filter-right .matiksearch-filter-right-icons a{color:#38475c;
    border-color:#ffbb00;}
.kh-listing-filter .matiksearch-filter-center .flt-nav a:hover,
.kh-listing-filter .matiksearch-filter-center .flt-nav a.act{color:#38475c !important;
    background:#ffbb00 !important;}
.crossd-btn, .cross-btn .btn{background: #fb0;}
.crossd-btn:before, .cross-btn .btn:before{border-top-color:#38475c;}

.crossd-btn:hover, .cross-btn .btn:hover{background:#38475c;}
.crossd-btn:hover:before, .cross-btn .btn:hover:before{border-top-color:#fb0;}

/*.kn-img{background:#ff966a !important;}
.kh-listing:hover .kn-img {background:#ff966a !important;}
.kn-img span{color:#ffffff;}*/
.vnar-landing .wyrlf-first .wyrlf-heading{background:#ffbb00;}
.vnbottom-filters .matik-user-section h3{color:#38475c !important;}
.vnbottom-filters .view-more-text{color:#38475c !important;}
.vh-map a.btn.btn-warning {
    color:#38475c;
    background:#fb0 !important;
}
.venues-list .matiksearch-users-list-content-top .content-text a {color:#38475c;
    background:#fb0;}
.spgm-box .spgm-option ul li a{color:#fb0;}
.spgm-box .spgm-option ul li:hover, .spgm-box .spgm-option ul li:active, .spgm-box .spgm-option ul li.active {background:#fb0;}
.spgm-box .spgm-option ul li a:hover, .spgm-box .spgm-option ul li:hover a,
.spgm-box .spgm-option ul li a:active, .spgm-box .spgm-option ul li:active a,
.spgm-box .spgm-option ul li.active a {color:#38475c;}
.vnar-landing .wyrlf-first.wyrlf{background:#38475c;}
.right-sdbox-filters{background: #ffbb00;}
.filter-bottom-row .chosen-container-single .chosen-single, .filter-bottom-row select{
    color:#fff;
    background:#38475c;
    border-color:#38475c;
}
.login-top {background:#38475c !important;}
.hofdetail .hofcontent h3, .birth-blog-wrap h3{color: #38475c !important;}
.hoflatest .bb-text {background: #38475c;}
.hoflatest .bb-text h3 {color: #fb0 !important;}
.globelsearch h1{color:#ff966a;}
.globelsearch .search-top-blog select, .tsc-btn button.btn {background-color:#ff966a !important;}
.globelsearch2 .globelsearch{background:#faf9f9;}

.searchat-list{background:#38475c;}
.searchat-list .searchat-box .bb-text h3{color:#38475c !important;}
.searchat-list .searchat-box .bb-text{background:#ffbb00;
    color:#38475c;}
.search-ual .searchat-box .bb-text {background:#38475c;}
.search-ual .searchat-box .bb-text h3 {color:#fb0 !important;}
.profileleft .topbtn .dropdown-toggle {background: #fb0;
    color:#38475c;}
.profileleft .pp-imagebox{background:#38475c;}
.profileleft .pp-athlete-image a img{border-color:#fb0 !important;}
.profileleft .pp-athlete-name h2{color:#fb0 !important;}
.profileleft .pp-top-heading{color:#fb0;}
.ppleft-menu ul li{background:#ffbb00;}
.ppleft-menu ul li:before{background:#38475c;}
.ppleft-menu ul li:hover a, .ppleft-menu ul li.act a {color:#fb0;}
.ppleft-menu ul li:hover:before, .ppleft-menu ul li.act:before {background:#fb0;}
.profileright .profile-green h3.info-title {color:#38475c !important;}
.profileright .heading-profile{background:#fb0;}
.pp-athlete-name-second.fixed{background:#38475c;}
.pp-athlete-name-second h2, .profileright .profile-edit{color:#fb0 !important}

.ins-listing .heading.birth-list-heading, .event-detail .card-nav-tabs .header{background:#38475c;}
.ins-social-grid ul.social-buttons li a .btn.btn-just-icon{background:#fb0;}
.insfilter-box .btn.btn-primary{background:#fb0 !important;}
.insfilter-box{background:#38475c !important;}
.ins-box .smg-ellipsis a.dropdown-toggle .fa{color:#fb0;}
.event-listing-filter-left:before{border-left-color:#ffbb00;}
.event-listing-filter{background: #38475c;}
.event-list-row .evt-icons .muc-box .muc-img span, .event-list-row .evt-name h2{color:#38475c;}
.event-detail .nav-tabs > li.active > a{color: #ffbb00 !important;}
.event-detail .nav-tabs > li.active > a {color: #ffbb00 !important;}
.event-detail .double-tab-boxs .header {background: #38475c !important;}

.vacancy-list-block h2{color:#38475c !important;}
.ads-filer .btn, .vn-filter .btn {background: #38475c !important;
    color:#ff966a;}
.ads-filer .btn:hover, .ads-filer .btn:active,
.vn-filter .btn:hover ,.vn-filter .btn:active{color: #ffbb00;
    background: #38475c !important;
}
.faq-page .panel .panel-heading{background: transparent !important}
.faq-page .panel .headings a h4{color: #2e9ceb !important;}

#return-to-top i{color:#38475c;}
#return-to-top:hover{background:#38475c;}

.rl-color, .link-color {color:#4B77BE !important;}

.footer .sub-btn-blog .btn {background:#ff966a !important;}
.footer-big {background:#f4f4f4 !important;}
.footer-middle {background:#ff966a !important;}
.footer-big hr{border-color: #425265 !important;}

#timeline .timeline-item .timeline-icon {background:#fbbc05 !important;}

.footer-about, .footer-about h4, .footer-subcribe h4, .footer-blog h3, .footer-black a, .footer-black .copyright, .subscribe-form .control-label, footer .subscribe-form .form-group .form-control{color:#38475c !important;}
footer .subscribe-form .form-group.label-floating.is-focused label.control-label, footer .subscribe-form .form-group.label-floating:not(.is-empty) label.control-label, footer .subscribe-form .form-group.label-static label.control-label{background:#f4f4f4;}


.btn-view{background:#C8D046 !important;}
.btn-view:hover, .btn-view:active, .btn-view:focus{background:#bac142 !important;}

.btn.btn-buy {background: #EF4836 !important;}
.btn.btn-buy:hover, .btn.btn-buy:active, .btn.btn-buy:focus {background: #e04433 !important;}


button#submit_btn, .btn-submit {background:#38475c !important;}
button#submit_btn:hover, button#submit_btn:active, button#submit_btn:focus,
.btn-submit:hover, .btn-submit:active, .btn-submit:focus {background:#38475c !important;}


.btn-tag{background: #26C281 !important;}
.btn-tag:hover, .btn-tag:active, .btn-tag:active:focus{background:#22af74 !important;}

.btn-purple{background: #9B59B6 !important;}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus {background:#8b4da4 !important;}

.btn-orange{background:#F36A5A !important;}
.btn-orange:hover, .btn-orange:active, .btn-orange:focus{background:#d65d4f !important;
    background-color:#d65d4f !important;}
.btn-giveaway {background-color:#EF4836 !important;}
.btn-giveaway:hover, .btn-giveaway:active, .btn-giveaway:focus{background-color:#de4534 !important;}

.btn-deactive{background:#2F353B;}
.btn-deactive:hover, .btn-deactive:active, .btn-deactive:focus{background:#23272b;}

/*button color classes*/

.btn-custom-blue{background:#38475c;
    background-color:#38475c;}
.btn-custom-blue:hover, .btn-custom-blue:active, .btn-custom-blue:focus {background: #466fb1 !important;
    background-color: #466fb1 !important;}
.btn-custom-blue-steel {background: #38475c !important;}
.btn-custom-blue-steel:hover, .btn-custom-blue-steel:active, .btn-custom-blue-steel:focus{background: #38475c !important;}

.btn-custom-blue-hoki {background: #67809F !important;}
.btn-custom-blue-hoki:hover, .btn-custom-blue-hoki:active, .btn-custom-blue-hoki:focus{background: #5e7490 !important;}


.btn-custom-yellow-gold {background: #E87E04 !important;}
.btn-custom-yellow-gold:hover, .btn-custom-yellow-gold:active, .btn-custom-yellow-gold:focus{background:#d87503 !important;}

.btn-custom-yellow-soft {background: #C8D046 !important;}
.btn-custom-yellow-soft:hover, .btn-custom-yellow-soft:active, .btn-custom-yellow-soft:focus{background:#bac141 !important;}

.btn-custom-yellow {background:#fb0 !important;}
.btn-custom-yellow:hover, .btn-custom-yellow:active, .btn-custom-yellow:focus{background:#fb0 !important;}


.btn-custom-red-mint {background: #E43A45 !important;}
.btn-custom-red-mint:hover, .btn-custom-red-mint:active, .btn-custom-red-mint:focus{background:#d63741 !important;}

.btn-custom-red-flamingo {background: #EF4836 !important;}
.btn-custom-red-flamingo:hover, .btn-custom-red-flamingo:active, .btn-custom-red-flamingo:focus{background:#de4433 !important;}

.btn-custom-red-haze {background: #F36A5A !important;}
.btn-custom-red-haze:hover, .btn-custom-red-haze:active, .btn-custom-red-haze:focus{background:#e26354 !important;}


.btn-custom-purple-wisteria{background:#9B59B6 !important;}
.btn-custom-purple-wisteria:hover, .btn-custom-purple-wisteria:active, .btn-custom-purple-wisteria:focus {background:#8e51a7 !important;}

.btn-custom-dark {background:#2F353B !important;}
.btn-custom-dark:hover, .btn-custom-dark:active, .btn-custom-dark:focus{background:#24292d !important;}

.btn-custom-green {background: #4caf50 !important;}
.btn-custom-green:hover, .btn-custom-green:active, .btn-custom-green:focus{background:#469e49 !important;}

.btn-custom-green-jungle {background: #26C281 !important;}
.btn-custom-green-jungle:hover, .btn-custom-green-jungle:active, .btn-custom-green-jungle:focus{background:#23b176 !important;}

.btn-custom-next {background:#36689d !important;}
.btn-custom-next:hover, .btn-custom-next:active, .btn-custom-next:focus{background:#305c8c !important;}

.btn-custom-dsb{background:#26C281 !important;}
.btn-custom-dsb:hover, .btn-custom-dsb:active, .btn-custom-dsb:focus{background:#23b176 !important;}

.btn-custom-sky{background:#0095D9 !important;}
.btn-custom-sky:hover, .btn-custom-sky:active, .btn-custom-sky:focus{background:#008ecf !important;}

.btn-custom-dark-blue{background:#38475c  !important;}
.btn-custom-dark-blue:hover, .btn-custom-dark-blue:active, .btn-custom-dark-blue:focus{background:#38475c  !important;}

.btn-custom-orange{background:#ff966a !important;}
.btn-custom-orange:hover, .btn-custom-orange:active, .btn-custom-orange:focus{background:#ff966a !important;}

button#submit_btn.btn-custom-orange{background:#ff966a !important;}
button#submit_btn.btn-custom-orange:hover, button#submit_btn.btn-custom-orange:active, button#submit_btn.btn-custom-orange:focus{background:#ff966a !important;}

/*close button color classes*/

input[type="text"][disabled],
input.form-control[readonly]{background:#e0e0e0 !important;}

.register-btn {background:#38475c !important;}

.login-fd .form-control {background-image:-webkit-linear-gradient(#f9f9f9, #f9f9f9), -webkit-linear-gradient(#f9f9f9, #f9f9f9) !important;
    background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-color: #f9f9f9;}

.dashboard-page .header-sign, .db-boxes .box-head{background:#fb0;}
.dashboard-page .header-sign{background:#38475c;}
.my-an-box .box-head, .my-an-box .analytics-box-row, .notification-box{background: #38475c;}
.dbt-notification{background:#fb0;}
.dbt-notification a .fa{color:#38475c;}
.prs-box .box-head {background:#38475c;}
.my-plan-box .analytics-box .an-no, .my-an-box .analytics-box .an-no{color:#fb0;}
.prs-bottom-text-box .prs-bottom-text .fa, .prs-bottom-text-box .prs-bottom-text{color: #129a03;}

.profileleft .topbtn .dropdown-menu li a.btn-custom-blue:hover,
.profileleft .topbtn .dropdown-menu li a.btn-custom-blue:focus,
.profileleft .topbtn .dropdown-menu li a.btn-custom-blue:active{background-color:#38475c !important;}

.profileleft .topbtn .dropdown-menu li a.btn-twitter:hover,
.profileleft .topbtn .dropdown-menu li a.btn-twitter:focus,
.profileleft .topbtn .dropdown-menu li a.btn-twitter:active {background-color:#55acee !important;}

.profileleft .topbtn .dropdown-menu li a.btn-custom-red-mint:hover,
.profileleft .topbtn .dropdown-menu li a.btn-custom-red-mint:focus,
.profileleft .topbtn .dropdown-menu li a.btn-custom-red-mint:active{background-color:#E43A45 !important;}

.profileleft .topbtn .dropdown-menu li a.btn-custom-green-jungle:hover,
.profileleft .topbtn .dropdown-menu li a.btn-custom-green-jungle:focus,
.profileleft .topbtn .dropdown-menu li a.btn-custom-green-jungle:active{background-color:#26C281 !important;}

.login-blog .theme-btn{background: #38475c !important;}
.btn-line:hover, .btn-line:active, .btn-line:focus{box-shadow:none !important;}
.blog-rightsidebar .media .media-body h5 a{color:#2e9ceb !important;}

